<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">

<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>BAPPY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../static/hangout_jquery.js"></script>
	<script src="../static/hangout_bootstrap.js"></script>
    <link rel="stylesheet" href="../static/build/css/bootstrap_min.css">
    <link rel="stylesheet" href="../static/hangout.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
{% with messages = get_flashed_messages() %}
  {%if messages %}
    <script type="text/javascript">
      swal("{{ messages[-1] }}");
    </script>
    {%endif%}
  {%endwith%}
<div class="container">
            <div class="row">
                 <div class="col-lg-10 mx-auto mb-4">
                    <div class="section-title text-center ">
                        <h1 class="top-c-sep">HAPPY BAPPY</h1>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60">

                        <form action="/hangout/list" method='post' class="career-form mb-60">
                            <div class="row">
                                <div class="col-md-6 col-lg-3 my-3">


                                    <div class="select-container">
                                        <select class="custom-select" id="filterVal" name="filterVal" onchange="initList();" >
                                            <option selected="default" value="default">Filter</option>
                                            <option value="myhangout">My Hangout</option>
                                            <option value="complete">Completed Hangout</option>
                                            <option value="Busan">Busan</option>
                                            <option value="Seoul">Seoul</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <input type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit" value="Search">

                                </div>
                            </div>
                        </form>






                        <div class="filter-result"id = "hangoutList">

                            {% for hangout in hangout_data %}
                            <form action=" {{ hangout.join_url }}" method="post">
                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                    <div class="job-content">
                                        <h5 class="text-center text-md-left">{{ hangout.title}} </h5>
                                        <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                          <li class="mr-md-4"style="width:90%">
                                              <i class="zmdi zmdi-time mr-2"></i> {{ hangout.meet_time}}
                                          </li>
                                          <li class="mr-md-4" style="width:90%">
                                              <i class="zmdi zmdi-pin mr-2" style="font-weight:800px;
                                              "></i> <a href="{{ hangout.location_url }}" >{{ hangout.location }}</a>
                                          </li>
                                          {% if hangout.openchat != "none" %}
                                          <li class="mr-md-4" style="width:90%">
                                              <i class="zmdi zmdi-comments mr-2"></i><a href="{{ hangout.openchat }}">kakao openchat</a>
                                          </li>
                                          {% endif %}

                                        </ul>
                                        <div style="text-align: center; ">

                                          <div class="cl1" style="display:inline-block; position: relative;margin-right:15px;">
                                            <div style= "position: absolute; left:35px;  bottom:22px;"class ="{{"flag " + hangout.nation_image[0] }}">
                                            </div>
                                            <span style="position:absolute; left:8px;top:45px; bottom:0; font-size:12px;">{{ hangout.age[0] + " / " + hangout.gender[0] }}</span>
                                          <img style="height:45px; width:45px; "class = "img-holder mb-4 mx-md-0 d-md-none d-lg-flex" src="{{ "/static/"+ hangout.profile_image[0]+".png" }}"></img>
                                          </div>
                                          <div class="cl1" style="display:inline-block; position: relative;margin-right:15px;">
                                              <div style= "position: absolute; left:35px;  bottom:22px;"class ="{{"flag " + hangout.nation_image[1] }}">                                            </div>
                                            <span style="position:absolute; left:8px;top:45px; bottom:0; font-size:12px;">{{ hangout.age[1] + " / " + hangout.gender[1] }}</span>

                                          <img style="height:45px; width:45px; "class = "img-holder mb-4 mx-md-0 d-md-none d-lg-flex" src="{{ "/static/"+hangout.profile_image[1]+".png" }}"></img>
                                          </div>
                                          <div class="cl1" style="display:inline-block; position: relative;margin-right:15px;">
                                              <div style= "position: absolute; left:35px;  bottom:22px;"class ="{{"flag " + hangout.nation_image[2] }}">                                            </div>
                                            <span style="position:absolute; left:8px;top:45px; bottom:0; font-size:12px;">{{ hangout.age[2] + " / " + hangout.gender[2] }}</span>

                                          <img style="height:45px; width:45px; "class = "img-holder mb-4 mx-md-0 d-md-none d-lg-flex" src="{{ "/static/"+hangout.profile_image[2]+".png" }}"></img>
                                          </div>
                                          <div class="cl1" style="display:inline-block; position: relative;">
                                              <div style= "position: absolute; left:35px;  bottom:22px;"class ="{{"flag " + hangout.nation_image[3] }}">                                            </div>
                                            <span style="position:absolute; left:8px;top:45px; bottom:0; font-size:12px;">{{ hangout.age[3] + " / " + hangout.gender[3] }}</span>

                                          <img style="height:45px; width:45px; "class = "img-holder mb-4 mx-md-0 d-md-none d-lg-flex" src="{{ "/static/"+hangout.profile_image[3]+".png" }}"></img>
                                          </div>



                                        </div>
                                        <div class="job-right my-4 flex-shrink-0">
                                          <center>
                                              <input style= "display:none;" type="text" name="index" value="{{ hangout.index }}">
                                            <input {{ hangout.active }} style="background-color:rgba(236,198,53, 0.7);width:60%;"type="submit" class="btn d-block d-sm-inline-block btn-light" value = "{{ hangout.join }}">
                                          </center>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                    </form>
                                    {% endfor %}
                </div>
            </div>

        </div>
        </div>
        <button id="addBtn" onclick="moreList();"style="display:block; margin:auto; border:none;background-color:transparent;margin-bottom:40px; text-align:center;"><span style="margin-right:20px;">More Hangout</span><img src="../static/more.png"style="height:10px;width:15px;"/></button>

        </div>




</body>
</html>
<style >
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
	.country-select .flag{
		background-size:5630px 15px
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
	.country-select .flag{
		background-image:url("/static/flags.png")
	}
}
.flag {
    background-image:url("/static/flags.png");

    background-size:5630px 15px;
    display:inline-block;
    vertical-align:middle

    background-repeat:no-repeat;

    width:20px;
    height:15px;
    -webkit-box-shadow:0px 0px 1px 0px #888;
    box-shadow:0px 0px 1px 0px #888;

}
</style>
<script type="text/javascript">

function initList() {
    var tag = document.getElementById("filterVal");
    console.log(tag.value);
    var addListHtml = "";
    $(':focus').blur();

    $.ajax({
        url:"/hangout/filterList",
        type:"post",
        dataType:"json",
        data:{
            "filterVal":tag.value
    },

        success:function(data) {
            //$("#hangoutList").append(data[1].join_url);
            //console.log(data);
            if(data.length==0)
            {
                document.getElementById('addBtn').remove();
                swal("There is no more page");
            }
            console.log(data);


            for(var i=0;i<data.length;i++) {
                addListHtml+="<form action=\" "+data[i].join_url + "\" method=\"post\">";
                addListHtml+= "<div class=\"job-box d-md-flex align-items-center justify-content-between mb-30\"> ";
                addListHtml+= "<div class=\"job-left my-4 d-md-flex align-items-center flex-wrap\">"
                addListHtml+= "<div class=\"job-content\">";
                addListHtml+= "<h5 class=\"text-center text-md-left\">"+data[i].title+"</h5>";
                addListHtml+= "<ul class=\"d-md-flex flex-wrap text-capitalize ff-open-sans\">";
                addListHtml+= "<li class=\"mr-md-4\"style=\"width:90%\">";
                addListHtml+= "<i class=\"zmdi zmdi-time mr-2\"></i>" + data[i].meet_time; +"</li>";
                addListHtml+= "<li class=\"mr-md-4\" style=\"width:90%\">";
                addListHtml+= "<i class=\"zmdi zmdi-pin mr-2\"></i> <a href=\""+ data[i].location_url +"\" >" + data[i].location +"</a></li>";
                if(data[i].openchat != "none") {
                    addListHtml+= "<li class=\"mr-md-4\" style=\"width:90%\"><i class=\"zmdi zmdi-comments mr-2\"></i><a href=\""+ data[i].openchat + "\">kakao openchat</a></li>";
                }
                addListHtml+= "</ul><div style=\"text-align: center; \">"
                addListHtml+= "<div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\"><div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[0]+ "\"></div>";
                addListHtml+= "<span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[0] + " / " + data[i].gender[0] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[0]+".png\"></img>";
                addListHtml+= "  </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[1] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[1] + " / " + data[i].gender[1] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[1]+".png\"></img>";
                addListHtml+= "    </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[2] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[2] + " / " + data[i].gender[2] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[2]+".png\"></img>";
                addListHtml+= "  </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[3] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[3] + " / " + data[i].gender[3] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[3]+".png\"></img>";
                addListHtml+= "  </div>";

                if(data[i].participants_num >=4)    {
                    addListHtml+= " </div><div class=\"job-right my-4 flex-shrink-0\"><center><input style= \"display:none;\" type=\"text\" name=\"index\" value=\""+ data[i].index +"\">"
                    addListHtml+= " <input style=\"background-color:rgba(236,198,53, 0.7);width:60%;\"type=\"submit\" class=\"btn d-block d-sm-inline-block btn-light\" value = \"" + "No Seat" + "\"+\"disabled\"> "
                }
                else {
                    addListHtml+= " </div><div class=\"job-right my-4 flex-shrink-0\"><center><input style= \"display:none;\" type=\"text\" name=\"index\" value=\""+ data[i].index +"\">"
                    addListHtml+= " <input style=\"background-color:rgba(236,198,53, 0.7);width:60%;\"type=\"submit\" class=\"btn d-block d-sm-inline-block btn-light\" value = \"" + data[i].join + "\"> "
                }
                addListHtml+= " </center></div> </div></div></div></form>";
            }
            var list = document.getElementById("hangoutList");
            console.log(addListHtml);
            list.innerHTML=addListHtml;




        }


    });
}

function moreList() {
    var pageNum = $("#hangoutList form").length // 10; // 기본 10  1
    var addListHtml = "";
    $(':focus').blur();

    $.ajax({
        url:"/hangout/moreList",
        type:"post",
        dataType:"json",
        data:{"pageNum":pageNum},

        success:function(data) {
            //$("#hangoutList").append(data[1].join_url);
            //console.log(data);
            //console.log("asd");
            if(data.length==0)
            {
                document.getElementById('addBtn').remove();
                swal("There is no more page");
            }
            console.log(data);


            for(var i=0;i<data.length;i++) {
                addListHtml+="<form action=\" "+data[i].join_url + "\" method=\"post\">";
                addListHtml+= "<div class=\"job-box d-md-flex align-items-center justify-content-between mb-30\"> ";
                addListHtml+= "<div class=\"job-left my-4 d-md-flex align-items-center flex-wrap\">"
                addListHtml+= "<div class=\"job-content\">";
                addListHtml+= "<h5 class=\"text-center text-md-left\">"+data[i].title+"</h5>";
                addListHtml+= "<ul class=\"d-md-flex flex-wrap text-capitalize ff-open-sans\">";
                addListHtml+= "<li class=\"mr-md-4\"style=\"width:90%\">";
                addListHtml+= "<i class=\"zmdi zmdi-time mr-2\"></i>" + data[i].meet_time; +"</li>";
                addListHtml+= "<li class=\"mr-md-4\" style=\"width:90%\">";
                addListHtml+= "<i class=\"zmdi zmdi-pin mr-2\"></i> <a href=\""+ data[i].location_url +"\" >" + data[i].location +"</a></li>";
                if(data[i].openchat != "none") {
                    addListHtml+= "<li class=\"mr-md-4\" style=\"width:90%\"><i class=\"zmdi zmdi-comments mr-2\"></i><a href=\""+ data[i].openchat + "\">kakao openchat</a></li>";
                }
                addListHtml+= "</ul><div style=\"text-align: center; \">"
                addListHtml+= "<div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\"><div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[0]+ "\"></div>";
                addListHtml+= "<span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[0] + " / " + data[i].gender[0] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[0]+".png\"></img>";
                addListHtml+= "  </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[1] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[1] + " / " + data[i].gender[1] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[1]+".png\"></img>";
                addListHtml+= "    </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[2] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[2] + " / " + data[i].gender[2] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[2]+".png\"></img>";
                addListHtml+= "  </div>";
                addListHtml+= "  <div class=\"cl1\" style=\"display:inline-block; position: relative;margin-right:15px;\">";
                addListHtml+= "    <div style= \"position: absolute; left:35px;  bottom:22px;\"class =\"flag " + data[i].nation_image[3] +"\"></div>";
                addListHtml+= "    <span style=\"position:absolute; left:8px;top:45px; bottom:0; font-size:12px;\">" + data[i].age[3] + " / " + data[i].gender[3] + "</span>";
                addListHtml+= "  <img style=\"height:45px; width:45px; \"class = \"img-holder mb-4 mx-md-0 d-md-none d-lg-flex\" src=\""+ "/static/"+ data[i].profile_image[3]+".png\"></img>";
                addListHtml+= "  </div>";

                if(data[i].participants_num >=4)    {
                    addListHtml+= " </div><div class=\"job-right my-4 flex-shrink-0\"><center><input style= \"display:none;\" type=\"text\" name=\"index\" value=\""+ data[i].index +"\">"
                    addListHtml+= " <input style=\"background-color:rgba(236,198,53, 0.7);width:60%;\"type=\"submit\" class=\"btn d-block d-sm-inline-block btn-light\" value = \"" + "No Seat" + "\"+\"disabled\"> "
                }
                else {
                    addListHtml+= " </div><div class=\"job-right my-4 flex-shrink-0\"><center><input style= \"display:none;\" type=\"text\" name=\"index\" value=\""+ data[i].index +"\">"
                    addListHtml+= " <input style=\"background-color:rgba(236,198,53, 0.7);width:60%;\"type=\"submit\" class=\"btn d-block d-sm-inline-block btn-light\" value = \"" + data[i].join + "\"> "
                }
                addListHtml+= " </center></div> </div></div></div></form>";
            }

            $("#hangoutList").append(addListHtml);




        }


    });
}

</script>
