<script type="text/javascript">
var contents = document.createElement("div");
contents.innerHTML = "<div style=\"width:500px;height=1000px; background-color:red;\">aaaa</div>";

function tmp() {
    swal({
        content:(contents)
    });
}

</script>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BAPPY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <button type="button" onclick ="tmp();"name="button"></button>
    </body>
</html>
