<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script>

        </script>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <button type="button" name="button" onclick="kakaoLogin();"></button>
    </body>
</html>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script type="text/javascript">
Kakao.init('fc4b2dbba0859111556e37839ea5f8c8'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
function kakaoLogin() {

    var user_id = "";
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
              console.log(response);
              console.log(response['kakao_account']['email'])

          },
          fail: function (error) {
            console.log(error);
            user_id = false;
          },
        })
      },
      fail: function (error) {
        console.log(error);
      },
  });


  }

</script>
